# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.ts text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

# Scripts
*.sh text eol=lf

# Documentation
*.md text diff=markdown

# Archives
*.gz binary
*.zip binary
*.tar binary

# SQLite
*.db binary
*.sqlite binary
*.sqlite3 binary

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

# Fonts
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
